@import "tailwindcss";
body {
  font-family: "Bricolage Grotesque", sans-serif;
  overflow-x: hidden;
}
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}
.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
}
