@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Stack Sans Headline", sans-serif;
  overflow-x: hidden;
}

.stack-sans-headline {
  font-family: "Stack Sans Headline", sans-serif;
}
.herosection {
  background-image: url("/public/gradient2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
